.sekil {
    height: 120px !important;
    width: 120px !important;
    margin-top: 5px !important;
    margin-right: 4px !important;
}

.allel {
    padding-top: 100px;
    display: inline-flex;



}